body {
    background-color: rgba(209, 209, 208, 1);    
}

caption {
    display: none;
}

table {
    height: 85%;

    background-color: rgba(255, 255, 255, 1);

    padding: 5px 0 148px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}
th, td {
    font-size: 13px;
    text-overflow: ellipsis;

    overflow: hidden;
    white-space: nowrap;
}
th {
    color: rgb(255, 255, 255);

    background: rgba(206, 168, 187, 1);

    border-radius: 15px;
}
td {
    color: rgba(206, 168, 187, 1);
}
tbody:nth-of-type(1) td {
    text-align: left;
}
a {
    color: rgba(206, 168, 187, 1);
}
tbody:nth-of-type(2) th:hover {
    background: rgba(206, 168, 187, .8);
}
tbody:nth-of-type(1) th:nth-of-type(1) {
    text-align: right;

    padding-right: 15px;
}
tbody:nth-of-type(1) th:nth-of-type(1):before {
    padding-left: 15px;
}
tbody:nth-of-type(1) th:nth-of-type(1):hover {
    background: rgba(206, 168, 187, .8);
}
tbody:nth-of-type(1) th:nth-of-type(2) {
    text-align: right;
    padding-right: 10px;
}
tbody:nth-of-type(1) th:nth-of-type(2):hover {
    background: rgba(206, 168, 187, .8);
}

.tbody_second {
    height: 130px;
    width: 750px;

    position: absolute;
    left: 120px;

    background-color: rgb(255, 255, 255);
    display: inline-table;

    border-radius: 20px;
    margin: 10px 20px 20px 20px;
}
.tbody_second:hover{
    animation-fill-mode: forwards;
    animation-duration: 2.5s;
    animation-name: tbody_second;

    -moz-animation-fill-mode: forwards;
    -moz-animation-duration: 2.5s;
    -moz-animation-name: tbody_second;
}
.main_imgs_first{
    height: 100px;
    width: 100px;

    position: absolute;
    top: 30px;
    left: 30px;

    background-image: url(../imgs/cvLogo.png);

    -webkit-filter: hue-rotate(30deg);
}
.window_block {
    height: 550px;
    width: 100%;
    min-width: 750px;
    max-width: 750px;
    
    position: relative;

    vertical-align: middle;

    background-color: rgba(213, 209, 208, 1);
    display: inline-block;
    
    padding: 30px 140px 0 140px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.cube_fb, .cube_twitter, .coffee_stain, .coffee_twitter, .cup, .cup_move, .fb_icon, .fieldset, .find, .find_me, .tooltip, .twitter_icon, .water_content, #pult{
    display: none;
}

@keyframes tbody_second {
    100% {
        transform: translate(50px, 50px);
        box-shadow: 15px 10px 10px rgba(0, 0, 0, .5);
    }
}
@-moz-keyframes tbody_second {
    100% {
        transform: translate(50px, 50px);        
        -moz-transform: translate(50px, 50px);

        box-shadow: 15px 10px 10px rgba(0, 0, 0, .5);
    }
}

@media screen and (min-width: 5000px) {
    tbody:nth-of-type(1) th, tbody:nth-of-type(1) td {
        font-size: 5px;
    }
    tbody:nth-of-type(1) a, a:hover {
        font-size: 5px;
    }
    tbody:nth-of-type(2) th, tbody:nth-of-type(2) td {
        font-size: 5px;
    }
    tbody:nth-of-type(2) select {
        font-size: 5px;
    }
}

th, td {
    voice-family: male;
    richness: 80;
    cue-before: url("beep.au")
}