@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);

*::selection {
    background: rgba(127, 108, 150, 0.6);
}
@font-face {
    font-family: Retro;
    src: url(../fonts/Retro.ttf);
}
body {
    background-color: #542093;

    font-family: 'Roboto';

    font-size: 15px;
}

caption {
    color: #935bd8;
    font: 30px 'Retro';
    text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
    letter-spacing: 5px;
}

th {
    color: #542093;
}
td, a {
    color: #7e57C2;
}
fieldset {
    padding: 10px;
    border: 1px dashed #542093;
}
legend {
    padding: 5px;
}
section {
    display: table-cell;
}
label {
    text-align: center;

    display: block;

    margin: 0 10px;
}
input {
    outline-color: #531F93;
}
optgroup {
    font-size: 11px;
}
option:hover {
    background: #9F81C7;
}
input[type="button"] {
    float: left;

    padding: 3px;
    margin: 10px 0;
}
input[type="radio"] {
    text-align: right;
}
tbody:nth-of-type(1) th:nth-of-type(1) {
    text-align: right;
}
tbody:nth-of-type(1) td:nth-of-type(1) {
    text-align: left;
}
tbody:nth-of-type(1) option {
    padding: 2px 5px;
}
tbody:nth-of-type(1) section:nth-of-type(1) select, tbody:nth-of-type(1) section:nth-of-type(2) select{
    height: 77px;
    width: 150px;

    outline-color: #531F93;

    margin: 10px;

    background: rgba(84, 32, 147, 0.1);
    box-shadow: rgba(0, 0, 0, 0.227451) 0px 1px 10px 0px;
    border: none;
}
tbody:nth-of-type(1) section:nth-of-type(3) input {
    height: 25px;
    width: 100px;
    display: block;
    padding: 0 5px;
    margin: 5px 0;
    box-sizing: border-box;
}
input::-webkit-calendar-picker-indicator {
    opacity: 1;
}

tbody:nth-of-type(1) section:nth-of-type(4) input {
    margin: 5px;
}
tbody:nth-of-type(1) section:nth-of-type(4) span {
    text-align: left;

    display: block;

    margin: 5px;
}
tbody:nth-of-type(1) section:nth-of-type(4) div, tbody:nth-of-type(1) section:nth-of-type(5) div{
    height: 30px;
    line-height: 39px;
}
tbody:nth-of-type(1) section:nth-of-type(4) label, tbody:nth-of-type(1) section:nth-of-type(5) label, .inputs {
    display: table-cell;
}
tbody:nth-of-type(1) section:nth-of-type(4), tbody:nth-of-type(1) section:nth-of-type(5) {
    width: 80px;
}
/*tbody:nth-of-type(1) section:nth-of-type(4) input:active {
    outline: 2px thistle dotted;
}*/
tbody:nth-of-type(1) section:nth-of-type(4) input:indeterminate{
    outline: 2px crimson dotted;
}
tbody:nth-of-type(1) section:nth-of-type(4) input:checked{
    outline: 2px cyan dotted;
}
tbody:nth-of-type(1) section:nth-of-type(5) input {
    margin: 5px;
}
tbody:nth-of-type(1) section:nth-of-type(5) span {
    text-align: left;

    display: block;

    margin: 5px;
}
tbody:nth-of-type(1) section:nth-of-type(6) select {
    height: 25px;

    width: 150px;

    background: rgba(84, 32, 147, 0.1);
    box-shadow: rgba(0, 0, 0, 0.227451) 0px 1px 3px 0px;
    outline-color: #531F93;
    display: block;
    padding: 0 5px;
    margin: 5px 0;
    box-sizing: border-box;

}
tbody:nth-of-type(2) select {
    color: #7e57C2;
}
tbody:nth-of-type(2) select {
    background: transparent;
    border: none;
}
select::-webkit-scrollbar {
    width: 10px;
}
select::-webkit-scrollbar-track {
    background: rgba(84, 32, 147, 0.2);
}
select::-webkit-scrollbar-track-piece {
    background: rgba(84, 32, 147, 0.2);
}
select::-webkit-scrollbar-thumb {
    background: rgb(84, 32, 147);
}

.inputs {
    width: 20px;

    position: relative;
    bottom: 4px;
}
.labels {
    width: 80px;

    position: relative;
    bottom: 4px;
}
.rowhidden {
    display: none;
}
.tbody_first {
    width: 100%;
    
    display: table;

    border-bottom: 20px solid transparent;
}
.tbody_second {
    width: 100%;

    display: table;
    
    outline: #542093 dashed 2px;
    padding: 5px 0;
}
.tooltip {
    height: 30px;
    width: 100px;

    position: absolute;
    top: 105px;
    left: 375px;

    color: #fff;
    text-align: center;

    background-color: black;
    display: none;
    opacity: 0.8;

    padding: 5px 0;
    border-radius: 50%;

    line-height: 30px;

}
a:hover .tooltip {
    display: block;
}
.tooltip:after {
    content: "";

    position: absolute;
    top: -3%;
    left: 9%;

    border-color: #000 transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
    margin-left: -5px;

    transform: rotate(145deg)
}
.main_imgs_first {
    height: 90px;
    width: 90px;

    position: absolute;
    top: -3px;
    left: -3px;

    background-image: url(../imgs/cv_icon.png);
    opacity: 0;

    animation-delay: 3.5s;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-name: icon;
    -webkit-filter: blur(3px);
}
.window_block {
    width: 100%;
    min-width: 820px;
    max-width: 820px;
    position: relative;

    vertical-align: middle;

    background-color: #d6cbee;
    display: inline-block;
    
    padding: 50px;
    border-radius: 30px;

    opacity: 0;

    animation-delay: 1.5s;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-name: start;
}
.water_content{
    position: relative;

    vertical-align: middle;

    display: inline-block;
}
.water {
    position:absolute;
    top: 120px;
    left: 470px;
    z-index:-1;
}
.water:before {
    top: 10px;
    left: 50px;
}
.water:after {
    top: 40px;
    right: 30px;
}
.water, .water:before, .water:after {
  height: 6px;
  width: 6px;
  
  display: block;
  
  border-radius: 2px;

  animation: water 4s;
  animation-delay: 2.5s;
}
.water:before, .water:after {
  content: '';
  position: absolute;
}
.cube_fb, .cube_twitter, .coffee_stain, .cup, .cup_move, .fb_icon, .find, .find_me, .twitter_icon, #pult{
    display: none;
}

@keyframes water {
  0% {
    box-shadow: 0 0 0 0 transparent,
                0 0 0 0 transparent,
                0 0 0 0 transparent,
                0 0 0 0 transparent;
  }
  5% {
    box-shadow: 0 0 0 0 #642da6,
                0 0 0 0 rgba(255, 255, 255, .4),
                0 0 0 0 #642da6,
                0 0 0 0 rgba(0, 0, 0, .08);
  }
  100% {
    box-shadow: 0 0 40px 600px #642da6,
                0 0 10px 610px transparent,
                0 0 30px 620px #642da6,
                0 0 5px  630px transparent;
  }

}
@keyframes start {
    from {
        opacity: 0;
        transform: scale(5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes icon {
    from {
        opacity: 0;
        -webkit-filter: blur(3px);     
    }
    to {
        opacity: 1;
        -webkit-filter: blur(0); 
    }
}